body {
  background-color: #fffeee;
}

h1, h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: purple;
}


h1 {
  font-size: 50px;
  color: royalblue;
}

h2 {
  color: goldenrod;
}

p {
  font-size: 20px;
  line-height: 2;
}

img {
  width: 500px;
}

